@import "../style.css";

* {
    font-size: 13px;
}

window#waybar {
    min-height: 32px;
}

#workspaces {
    padding: 3px 8px;
}

#workspaces button {
    padding: 3px 10px;
}

#window {
    padding: 0 14px;
}

#clock {
    padding: 0 18px;
}

#language,
#custom-gpu-info,
#cpu,
#memory,
#pulseaudio,
#bluetooth,
#tray {
    padding: 0 10px;
}

