@import "../style.css";

* {
    font-size: 14.5px;
}

window#waybar {
    min-height: 36px;
}

#workspaces {
    padding: 4px 8px;
}

#workspaces button {
    padding: 4px 12px;
    font-size: 14px;
}

#window {
    padding: 0 16px;
    font-size: 14px;
}

#clock {
    padding: 0 20px;
    font-size: 14.5px;
}

#language,
#custom-gpu-info,
#cpu,
#memory,
#pulseaudio,
#bluetooth,
#tray {
    padding: 0 12px;
    font-size: 14px;
}

